@import 'flowbite';

/* app.css */

.container {
  display: flex; /* Use flexbox to position the sidebar and bar */
  position: relative; /* Allow absolutely positioned elements to be relative to this container */
}

.vertical-bar {
  width: 20%; /* Set the width of the bar */
  height: 100vh; /* Full height of the viewport */
  background-color: #f9fafb;
  position: absolute; /* Position behind the sidebar */
  z-index: 1; /* Ensure it is behind the sidebar */
}

.sidebar {
  position: relative; /* Ensure the sidebar is on top of the bar */
  z-index: 2; /* Bring the sidebar in front */
}
